<article class="">

  <!--
    #################################
        - THEMEPUNCH BANNER -
    #################################
    -->
  <div class="tp-banner-container">
    <div class="tp-banner" >

      <ul>	<!-- SLIDE  -->


        <li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-thumb="images/projects/cwcrazib1.png"  data-saveperformance="off"  data-title="About Me">
          <!-- MAIN IMAGE -->
          <img class="slider-big-image" src="images/greenbg.jpg"  alt="fullslide1"  data-bgposition="center center" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="120" data-bgfitend="120">
          <!-- LAYERS -->


          <!-- LAYER NR. 4 -->
          <div class="tp-caption lfr lfr  rs-parallaxlevel-10"
               data-x="720"
               data-y="0"
               data-speed="500"
               data-start="1000"
               data-easing="Power4.easeInOut"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               data-endspeed="300"
               style="z-index: 5;">
            <img style="border-radius: 100%;border: 10px solid white;" src="images/dummy.png" alt="" data-lazyload="images/razib-md.jpg">
          </div>

          <div class="tp-caption black_heavy_70 skewfromleftshort fadeout tp-resizeme rs-parallaxlevel-10"
               data-x="100"
               data-y="0"
               data-speed="500"
               data-start="1000"
               data-easing="Power3.easeInOut"
               data-splitin="chars"
               data-splitout="chars"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               data-endspeed="300"
               style="color:white;z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">Hi, I'm Razib
          </div>

          <div class="tp-caption black_heavy_70 lft fadeout tp-resizeme rs-parallaxlevel-3"
               data-x="150"
               data-y="100"
               data-speed="500"
               data-start="2500"
               data-easing="Power3.easeInOut"
               data-splitin="chars"
               data-splitout="chars"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               data-endspeed="300"
               style="color:white;z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">Creative
          </div>


          <div class="tp-caption black_heavy_70 fade fadeout tp-resizeme rs-parallaxlevel-10"
               data-x="-70"
               data-y="185"
               data-speed="500"
               data-start="3500"
               data-easing="Power3.easeInOut"
               data-splitin="chars"
               data-splitout="chars"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               data-endspeed="300"
               style="color:white;z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">Full Stack Developer
          </div>



          <div class="tp-caption white_bold_bg_20 sfr stb tp-resizeme rs-parallaxlevel-10"
               data-x="-40"
               data-y="300"
               data-speed="1000"
               data-start="4500"
               data-easing="Power3.easeInOut"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               data-endspeed="300"
               style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;text-transform: capitalize;">
            I have 5+ years of experience in Web Develope and Design.
          </div>

          <div class="tp-caption lfb ltb tp-resizeme rs-parallaxlevel-0"
               data-x="150"
               data-y="380"
               data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="500"
               data-start="5000"
               data-easing="Power3.easeInOut"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               data-linktoslide="next"
               style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;text-align: center;">
            <div class=" rs-slideloop"
                 data-easing="Power3.easeInOut"
                 data-speed="0.5"
                 data-xs="0"
                 data-xe="0"
                 data-ys="-2"
                 data-ye="2"
              >
              <a href="files/razib_cv.pdf" target="_blank" class='largeredbtn'><i class="fa fa-download"></i> Download My CV</a>
            </div>
          </div>
          <!-- LAYER NR. 12 -->
        </li>

        <li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-thumb="images/projects/cwcrazib.png"  data-saveperformance="off"  data-title="My Skils">
          <!-- MAIN IMAGE -->
          <img class="slider-big-image" src="images/bg-blue.jpg" alt="fullslide1"  data-bgposition="center center" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="140" data-bgfitend="100" data-bgpositionend="center center">
          <!-- LAYERS -->

          <div class="tp-caption lfl customout rs-parallaxlevel-10"
               data-x="-90"
               data-y="20"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="700"
               data-start="1550"
               data-easing="Power3.easeInOut"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               style="z-index: 2;"><img src="images/dummy.png" alt="" data-lazyload="images/projects/web-logo.png">
          </div>

          <div class="tp-caption lfb customout rs-parallaxlevel-5"
               data-x="10"
               data-y="280"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="700"
               data-start="2000"
               data-easing="Power3.easeInOut"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               style="z-index: 2;"><img src="images/dummy.png" alt="" data-lazyload="images/projects/cake-logo.png">
          </div>

          <!-- LAYER NR. 3 -->
          <div class="tp-caption lft customout rs-parallaxlevel-3"
               data-x="230"
               data-y="360"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="700"
               data-start="2500"
               data-easing="Power3.easeInOut"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               style="z-index: 4;"><img src="images/dummy.png" alt="" data-lazyload="images/projects/yii.png">
          </div>
          <!-- LAYER NR. 3 -->
          <div class="tp-caption lfr customout rs-parallaxlevel-2"
               data-x="580"
               data-y="360"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="700"
               data-start="3000"
               data-easing="Power3.easeInOut"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               style="z-index: 4;"><img src="images/dummy.png" alt="" data-lazyload="images/projects/zendframework.png">
          </div>

          <div class="tp-caption lfb customout rs-parallaxlevel-7"
               data-x="290"
               data-y="0"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="600"
               data-start="3500"
               data-easing="Power3.easeInOut"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               style="z-index: 2;"><img src="images/dummy.png" alt="" data-lazyload="images/projects/ang_grunt_yo.png">
          </div>

          <div class="tp-caption fade customout rs-parallaxlevel-8"
               data-x="380"
               data-y="150"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="700"
               data-start="1850"
               data-easing="Power3.easeInOut"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               style="z-index: 2;"><img src="images/dummy.png" alt="" data-lazyload="images/projects/php.png">
          </div>

          <div class="tp-caption lft customout rs-parallaxlevel-1"
               data-x="724"
               data-y="50"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="700"
               data-start="4300"
               data-easing="Power3.easeInOut"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               style="z-index: 3;"><img src="images/dummy.png" alt="" data-lazyload="images/projects/node.png">
          </div>

          <div class="tp-caption lfr customout rs-parallaxlevel-9"
               data-x="724"
               data-y="130"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="700"
               data-start="5700"
               data-easing="Power3.easeInOut"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               style="z-index: 3;"><img src="images/dummy.png" alt="" data-lazyload="images/projects/java.png">
          </div>
        </li>

        <li data-ng-repeat="project in data.portfolio" data-callslider="{{callslider($index, data.portfolio.length, project.SpecialFeature, project.Framework)}}" data-transition="random" data-slotamount="7" data-masterspeed="2000" data-thumb="images/projects/portfolio/{{project.images[0]}}" data-delay="10000"  data-saveperformance="on"  data-title="{{project.ProjectName}}">
          <!-- MAIN IMAGE -->
          <!--<img src="images/dummy.png"  alt="{{project.ProjectName}}" data-lazyload="images/green.jpg" data-bgposition="right top" data-kenburns="on" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">-->
          <img class="slider-big-image" src="images/newslide2014_1.jpg"  alt="{{project.ProjectName}}"  data-bgposition="left top" data-kenburns="on" data-duration="14000" data-ease="Power0.easeInOut" data-bgfit="100" data-bgfitend="100">
          <!-- LAYERS  images/projects/portfolio/{{project.images[0]}} -->
          <div data-ng-if="project.images[0]" class="tp-caption lfl customout rs-parallaxlevel-10 project-frame"
               data-x="{{imgXdata}}"
               data-y="50"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="700"
               data-start="1550"
               data-easing="Power3.easeInOut"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               style="z-index: 2;">
            <img src="images/dummy.png" alt="" data-lazyload="images/projects/portfolio/{{project.images[0]}}">
          </div>


          <!-- LAYER NR. 3 -->
          <div class="tp-caption large_text skewfromleftshort fadeout tp-resizeme rs-parallaxlevel-10"
               data-x="center"
               data-y="-15"
               data-speed="500"
               data-start="800"
               data-easing="Power3.easeInOut"
               data-splitin="chars"
               data-splitout="none"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               data-endspeed="300"
               style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
            {{project.ProjectName}}
          </div>

          <!-- LAYER NR. 5 -->
          <div data-ng-repeat-start="frm in features" data-yval="{{getY($index)}}" class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme rs-parallaxlevel-10"
               data-x="{{featersXdata}}"
               data-y="{{datay}}"
               data-speed="300"
               data-start="{{startd}}"
               data-easing="Power3.easeInOut"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               data-endspeed="300"
               style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">{{frm}}
          </div>

          <!-- LAYER NR. 6 -->
          <div class="tp-caption greenbox30 customin fadeout tp-resizeme rs-parallaxlevel-10"
               data-x="{{featersXdata - 31}}"
               data-y="{{datay}}"
               data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="300"
               data-start="{{startd+200}}"
               data-easing="Power3.easeInOut"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               data-endspeed="300"
               style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
          </div>

          <!-- LAYER NR. 7 -->
          <div data-ng-repeat-end="" class="tp-caption arrowicon customin fadeout rs-parallaxlevel-10"
               data-x="{{featersXdata - 22}}"
               data-y="{{datay+7}}"
               data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="300"
               data-start="{{startd}}"
               data-easing="Power3.easeInOut"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               data-endspeed="300"
               style="z-index: 8;"><img src="images/dummy.png" alt="" data-ww="17" data-hh="17" data-lazyload="images/check.png">
          </div>

        </li>

      </ul>
      <div class="tp-bannertimer"></div>
    </div>
  </div>
</article>
