<!-- About -->
<section id="about">
  <div class="container">
    <h1 class="page-title">About Me</h1>
    <div class="row">
      <div class="col-sm-3">
        <img src="../../../images/razib-md2.jpg" alt="man" class="img-responsive img-circle border5x box-shadow section-img">
      </div> <!-- end .col-sm-3 -->
      <div class="col-sm-9">
        <h3 class="small-margin-bottom">{{data.personal.name}}</h3>
        <h5>{{data.personal.profession}}</h5>
        <p>
          As a Software <abbr title="Engineer">Engr.</abbr> with <strong>4+ years of experience</strong>  in related fields, I <strong>specialize</strong>  in <strong>front-end development and software architecture</strong>.
          <br/>It means that I have a familiarity with each layer of development and a commitment to gaining expertise in all software technology.
          <br/>I'm  currently  doing  job  as  a <strong>Senior  Software <abbr title="Engineer">Engr.</abbr></strong> at <strong><abbr title="Upload Your Self">UY</abbr>  Systems <abbr title="Limited">Ltd.</abbr></strong>  Developing E-commerce Core Product.
        </p>
        <p>
          In my case, I enjoy playing with code and individual decision makers to provide architectural and
          custom business solutions that help my clients resolve mission-critical problems, grow their business, and improve their revenue stream and profitability.
        </p>
        <p >
          My greatest prides are <strong class="text-capitalize">proactiveness, reliability, good communication, quick problem solver </strong>and <strong  class="text-capitalize">learner.</strong>
        </p>

        <ul class="list-unstyled ">
          <li><b><i class="fa fa-calendar fa-lg fa-fw"></i> Date Of Birth:</b> {{data.personal.dob}}</li>
          <li><b><i class="fa fa-mobile-phone fa-lg fa-fw"></i> Mobile:</b> {{data.personal.mobile}}</li>
          <li><b><i class="fa fa-envelope-square fa-lg fa-fw"></i> Email:</b> <a href="mailto:{{data.personal.email}}">{{data.personal.email}}</a></li>
          <li><b><i class="fa fa-location-arrow fa-lg fa-fw"></i> Address:</b> {{data.personal.address}}</li>
          <li><b><i class="fa fa-link fa-lg fa-fw"></i> Website:</b> {{data.personal.website}}</li>
        </ul>

        <div class="spacer"></div>
        <h3>What I'm Doing</h3>
        <div class="row">
          <div class="col-sm-4">
            <div class="service">
              <div class="icon"><i class="fa fa-desktop"></i></div>
              <h5>Software Development</h5>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="service">
              <div class="icon"><i class="fa fa-mobile-phone"></i></div>
              <h5>App Development</h5>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="service">
              <div class="icon"><i class="fa fa-map-marker"></i></div>
              <h5>Web Design</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
