<!-- Experience -->
<section id="experience">
  <div class="container">
    <h1 class="page-title">5<sup>+</sup> Years Experience</h1>
    <div class="experience-timeline">
      <div class="experience-block clearfix">
        <div class="meta">
          <span class="year">2015 - Current</span>
          <span class="company">UY Systems Ltd.</span>
        </div> <!-- end .meta -->
        <div class="content">
          <h5>Senior Software Engr.</h5>
          <p>
            <a target="_blank" href="http://www.uysys.com/">UY Systems Ltd.</a><br/>
            House# 289, Road # 19/B, New DOHS Mohakhali, Dhaka-1206, Bangladesh.
          </p>
          <h6>Responsibilities:</h6>
          <p>
            Research & Development a Core Product for Company. <br/>Like as: Dynamic E-commerce Product & Dynamic Website.
          </p>
        </div> <!-- end .content -->
        <div class="icon">
          <!--<i class="fa fa-briefcase"></i>-->
          <img src="images/uy.png" alt="UY Systems Ltd" title="UY Systems Ltd">

        </div> <!-- end .icon -->
        <div class="line"></div>
      </div> <!-- end .experience-block -->
      <div class="experience-block clearfix">
        <div class="meta">
          <span class="year">2013 - 2015</span>
          <span class="company">Nogor Solutions</span>
        </div> <!-- end .meta -->
        <div class="content">
          <h5>Senior Software Engr.</h5>
          <p>
            <a target="_blank"  href="http://www.nogorsolutions.com/">Nogor Solutions</a><br/>
            House: 69, Road-8, Gulsan Niketon, Dhaka-1207, Bangladesh.
          </p>
          <h6>Responsibilities:</h6>
          <p>
            Designe and Develope different kind of E-commerce projects & Make a custome CMS.<br/> Such as: Online shop, Web Site. Drag & Drop Page Builder etc.
          </p>
        </div> <!-- end .content -->
        <div class="icon">
          <img src="images/nogor.png" alt="Nogor Solutions" title="Nogor Solutions">
        </div> <!-- end .icon -->
        <div class="line"></div>
      </div> <!-- end .experience-block -->

      <div class="experience-block clearfix">
        <div class="meta">
          <span class="year">2012 - 2013</span>
          <span class="company">Swan Soft ltd.</span>
        </div> <!-- end .meta -->
        <div class="content">
          <h5>Web Developer & Designer</h5>
          <p>
            <a  target="_blank" href="http://www.swansoftltd.com/">SwanSoft ltd</a><br/>
            Motijheel, Dhaka-1207, Bangladesh.
          </p>
          <h6>Responsibilities:</h6>
          <p>
            Designe and Develope Online E-Ticketing Service.
          </p>
        </div> <!-- end .content -->
        <div class="icon">
          <img src="images/swan.png" alt="SwanSoft ltd" title="SwanSoft ltd">
        </div> <!-- end .icon -->
        <div class="line"></div>
      </div> <!-- end .experience-block -->

      <div class="experience-block clearfix">
        <div class="meta">
          <span class="year">2011 - 2012</span>
          <span class="company">OS CLiCKS</span>
        </div> <!-- end .meta -->
        <div class="content">
          <h5>Web Developer & Designer</h5>
          <p>
            <a  target="_blank" href="http://www.osclicks.com">OS CLiCKS</a><br/>
            160 Lake Circus, Kalabagan, Dhaka 1205, Bangladesh
          </p>
          <h6>Responsibilities:</h6>
          <p>
            Managing, designing and developing different kind of E-commerce projects. Such as Job Portal, Online shop, Bank Management, Feeds. Have to work on raw PHP, AJAX, Java Script, Jquery, Json and Facebook API, Zend framework, Yii, Drupal, Wordpress, HTML, HTML5, CSS, CSS3, Adobe Photoshop, Adobe Illustrator etc.
          </p>
        </div> <!-- end .content -->
        <div class="icon">
          <img src="images/osclicks.png" alt="OS CLiCKS" title="OS CLiCKS">
        </div> <!-- end .icon -->
      </div> <!-- end .experience-block -->
    </div> <!-- end .experience-timeline -->

    <!-- Testimonials -->
    <div class="row">
      <h1 class="page-title">Testimonials</h1>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="testimonial-slider owl-carousel">
          <div>
            <div class="image"><img src="images/zubayer.jpg" alt="Abdullah Al Zubayer" title="Abdullah Al Zubayer"></div>
            <div class="sep"></div>
            <p>" Awesome to work with. Incredibly organized, easy to communicate with, responsive with next iterations, and beautiful work. "</p>
            <h6>Abdullah Al Zubayer</h6>
            <span class="text-capitalize">Software Architect at UY Systems Ltd.</span>
          </div>

          <div>
            <div class="image"><img src="images/shaiful.png" alt="Shafiul Alam" title="Shafiul Alam"></div>
            <div class="sep"></div>
            <p>" Awesome to work with. Incredibly organized, easy to communicate with, responsive with next iterations, and beautiful work. "</p>
            <h6>Shafiul Alam</h6>
            <span class="text-capitalize">Software Engineer at Codemate Ltd.</span>
          </div>
          <div>
            <div class="image"><img src="images/arefin.png" alt="Arefin Islam" title="Arefin Islam"></div>
            <div class="sep"></div>
            <p>" Awesome to work with. Incredibly organized, easy to communicate with, responsive with next iterations, and beautiful work. "</p>
            <h6>Arefin Islam</h6>
            <span class="text-capitalize">Software Developer at 4axiz.</span>
          </div>
        </div> <!-- end .testimonial-slider -->
      </div> <!-- end .col-sm-8 -->
    </div> <!-- end .row -->
    <div class="spacer"></div>
  </div> <!-- end .container -->
</section> <!-- end #section1 -->
